.idea
*.pyc
weather-light/
data/train/
data/test/ 
data/val/
data/new_train/ann/
data/new_train/img/
data/new_val/ann/
data/new_val/ann/
data/new_val/img/
checkpoint_*.pth
datasets/__pycache__/
models/__pycache__/
training/__pycache__/
utils/__pycache__/
inference/__pycache__/
static/uploads/
venv/
.idea/
