.idea
*.pyc
weather-light/
data/train/
data/test/ 
data/val/
data/train_224/
data/val_224/
data/train/ann/
data/train/img/
data/val/ann/
data/val/ann/
data/val/img/
data/test/img
data/test/ann
datasets/__pycache__/
models/__pycache__/
training/__pycache__/
utils/__pycache__/
inference/__pycache__/
static/uploads/
venv/
.idea/
